*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

p {
  font-size: 25rem;
  margin-bottom: 10rem;
}

body {
  padding: 10rem;
}

p,
input,
button,
h1 {
  margin-bottom: 20rem;
}

h1 {
  font-size: 50rem;
}
